*{
  margin: 0;
  padding: 0;
}

h2,
h4{
  font-family: 'Rokkitt', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

select,
option{
  background-color: #cccc;
}

img{
  width: 100%;
  height: 420px;
}
option{
  background-color: #cccc;
}

h2{
  font-size: 29px;
  font-weight:bolder;
}

hr{
  width: 2%;
  color: #000;
  background-color: #000;
  height: 4px;
}

.selection{
  margin-top: 20px; !important
}

.points{
  margin-top: 20px;
}

.insertName{
  background-color: #333;!important
  width: 100%;
  height: 420px;
}

.insertName2{
  color: #fff;
}

input{
  width: 40%; !important
}

button{
  background-color: #F9A91A;
  text-decoration: none;
}

form{
  text-align: center;
}
